<nav class="flex justify-between">
  <h1>Clubhouse</h1>
  <div class="flex gap-2">
    <% if(user){ %>
    <a href="/add-msg">Add Message</a>
    <button class="border rounded-full p-1" id="profileBtn">
      <%= user.first_name.charAt(0)+user.last_name.charAt(0) %>
    </button>
    <div
      id="dropdown"
      class="absolute hidden right-0 mt-3 rounded-xl gap-2 flex-col"
    >
      <a href="/join">Join Club</a>
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </div>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>

<script>
  const profile = document.getElementById("profileBtn");
  if (profile) {
    const dropdown = document.getElementById("dropdown");
    profile.addEventListener("click", () => {
      dropdown.classList.toggle("hidden");
      dropdown.classList.toggle("flex");
    });
  }
</script>
